.one-work {
    background-color: #fff;
    color: #000;

    .card {
        border: 0;

        h4 {
            color: #000;
            font-family: oswald, sans-serif;
            font-weight: 400;
        }

        p {
            color: #000;
        }
    }

    .has-card-hover {
        margin-top: 15px;
    }

    .work-bg {
        height: 250px;
        width: 100%;
        background-color: #e31e24;
    }
}

.one-work-inner {
    background-color: #fff;
    color: #000;
    font-family: Tahoma, sans-serif;

    h2 {
        font-family: oswald, sans-serif;
    }

    h3 {
        font-size: 26px;
        text-align: center;
        line-height: 30px;
        padding-bottom: 20px;
        font-family: oswald, sans-serif;
        text-transform: uppercase;
    }

    .dealer span {
        white-space: nowrap;
    }

    .logo-left-right img,
    .logo-right-left img {
        width: 180px;
        height: 180px;
    }

    .work-descr {
        font-size: 19px;
        line-height: 28px;
        font-family: Tahoma, sans-serif;

        span {
            font-weight: 700;
        }
    }

    .work-descr-list {
        font-size: 19px;
        line-height: 30px;
        list-style-type: none;
        padding-top: 15px;
        padding-bottom: 15px;

        li a {
            color: green;
        }

        ul {
            list-style-type: none;
        }

        li:before {
            content: "— ";
            margin-left: -26px;
            margin-right: 4px;
        }
    }

    .kontakty {
        font-family: oswald, sans-serif;
        color: #000;
        font-size: 20px;
        padding-left: 10px;
        padding-top: 10px;
        padding-bottom: 5px;

        a {
            color: #000;
        }
    }

    .fc-bg {
        background: rgba(0, 0, 0, 0.1);
    }

    .fc-bg-txt {
        background: rgba(0, 0, 0, 0.1);
        padding-bottom: 70px;
        min-height: 350px;
    }

    .snow-bg {
        background-image: url(../assets/service/predpuskovoj-podogrevatel-dvigatelya/snow-bg-g.jpg);
        min-height: 400px;
    }

    .boxShadow8 {
        margin: 30px auto;
        padding: 36px;
        -webkit-box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.28);
        box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.28);
    }

    .boxShadow9 {
        margin: 30px auto;
        padding: 36px;
        -webkit-box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.28);
        box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.28);
        width: 80%;
        max-width: 550px;
    }

    .bg-txt span {
        color: #e31e24;
        font-weight: bolder;
    }

    .icon-service {
        display: inline-block;
        height: 60px;
        width: 60px;
    }

    .farkop-one {
        padding: 0;
        height: 580px;
        background: url(../assets/service/farkop/farkop-bg.jpg) no-repeat;
        background-color: #000;
        background-size: cover;
        overflow: hidden;
        position: relative;

        .bg-pattern {
            position: absolute;
            height: 100%;
            width: 100%;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-flex-wrap: nowrap;
            -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
            background-color: rgba(74, 61, 45, 0.42);
            background-image: url(../img/pattern4x4.png);
        }

        h2 {
            color: #fff;
        }

        .farkop-bg-text {
            font-family: oswald, sans-serif;
            position: absolute;
            display: block;
            margin: auto;
            height: 80%;
            top: 10%;
            bottom: 10%;
            left: 0;
            right: 0;
            width: 100%;
            font-size: 55px;
            font-weight: bolder;
            line-height: 66px;
            text-transform: uppercase;
            z-index: 3;
            background: rgba(0, 0, 0, 0.3);

            span {
                color: #e31e24;
            }

            p {
                padding-bottom: 8px;
                color: #fff;

                a:focus {
                    outline: 0;
                    outline-style: none;
                }
            }
        }

        .farkop-bg0 {
            position: relative;
            overflow: hidden;
            color: #fff;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-flex-wrap: nowrap;
            -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
            background-color: rgba(74, 61, 45, 0.42);
            background-image: url(../assets/service/farkop/farkop-bg.jpg);
            background-repeat: repeat;
        }
    }

    .zakaz-farkop {
        background: url(../assets/service/farkop/polyagonal-web-design.jpg) no-repeat;
        background-size: cover;
        overflow: hidden;
        -webkit-box-shadow: 3px 3px 3px -1px rgba(0, 0, 0, 0.2);
        box-shadow: 3px 3px 3px -1px rgba(0, 0, 0, 0.2);

        span {
            color: #e31e24;
        }

        .ui-item {
            width: 285px;
            padding-bottom: 30px;
            margin: 40px auto;
            -webkit-border-radius: 30px;
            border-radius: 30px;
            position: relative;
            text-align: center;
            padding-top: 65px;
            -webkit-box-shadow: 4px 4px 0 1px rgba(199, 199, 199, 0.6);
            box-shadow: 4px 4px 0 1px rgba(199, 199, 199, 0.6);
            -webkit-transition: all .5s ease;
            -o-transition: all .5s ease;
            transition: all 0.5s ease;

            &:hover {
                -webkit-border-radius: 15px;
                border-radius: 15px;
            }

            img {
                width: 162px;
                margin: 0 auto;
                position: absolute;
                top: -65px;
                left: 44%;
                margin-left: -56px;
            }

            p {
                line-height: 20px;
                font-size: 18px;
                font-family: oswald, sans-serif;
                color: #000;
            }

            h3 {
                font-size: 16px;
                padding: 5px;

                span {
                    color: red;
                }
            }

            ul {
                padding: 0 24px 30px;
                height: 250px;

                li {
                    text-align: left;
                    font-family: oswald, sans-serif;
                    font-size: 18px;
                    line-height: 20px;
                    margin-bottom: 20px;
                    list-style: none;

                    span {
                        text-decoration: line-through;
                        color: #e31e24;
                    }
                }
            }

            .button-red {
                font-size: 20px;
                line-height: 35px;
                display: block;
                -webkit-border-radius: 6px;
                border-radius: 6px;
                margin: 0 20px 0;
            }
        }

        .bg-item {
            background-color: #c7c7c7;
            opacity: 0.85;
        }
    }

    .gallery-dovodchik {
        min-height: 300px;
        background-color: #000;

        h2 {
            color: #fff;

            span {
                color: #e31e24;
            }
        }
    }

    .zakaz-dovodchik {
        background: url(../assets/service/dovodchiki/dovodchiki-one-bg.jpg) no-repeat;
        background-size: cover;
        overflow: hidden;
        -webkit-box-shadow: 3px 3px 3px -1px rgba(0, 0, 0, 0.2);
        box-shadow: 3px 3px 3px -1px rgba(0, 0, 0, 0.2);

        span {
            color: #e31e24;
        }

        .ui-item {
            width: 280px;
            padding-bottom: 20px;
            margin: 16px auto;
            -webkit-border-radius: 30px;
            border-radius: 30px;
            position: relative;
            text-align: center;
            padding-top: 50px;
            -webkit-box-shadow: 4px 4px 0 1px rgba(199, 199, 199, 0.6);
            box-shadow: 4px 4px 0 1px rgba(199, 199, 199, 0.6);
            -webkit-transition: all .5s ease;
            -o-transition: all .5s ease;
            transition: all 0.5s ease;

            &:hover {
                -webkit-border-radius: 15px;
                border-radius: 15px;
            }

            .cars-logo {
                width: 95px;
                margin: 0 auto;
                position: absolute;
                top: 10px;
                left: 44%;
                margin-left: 45px;
            }

            .cars {
                width: 220px;
                height: 160px;
                margin: 0 auto;
            }

            .cars-name {
                font-size: 26px;
                line-height: 32px;
                height: 36px;
                margin: 0;
            }

            .cars-year {
                font-size: 24px;
                line-height: 24px;
                padding-top: 30px;
            }

            p {
                line-height: 20px;
                font-size: 18px;
                font-family: oswald, sans-serif;
                color: #000;
            }

            .ui-item-wrap {
                margin-top: 10px;
                height: 95px;

                .cars-doors {
                    position: absolute;
                    font-size: 18px;
                    margin: 12px 0;
                    left: 30px;
                    line-height: 30px;
                    text-transform: uppercase;
                }

                ul {
                    padding: 20px 25px 20px;
                    width: 190px;
                    margin-left: 120px;
                    margin-bottom: -8px;

                    li {
                        text-align: left;
                        font-family: oswald, sans-serif;
                        font-size: 22px;
                        line-height: 14px;
                        margin-bottom: 16px;
                        list-style: none;
                        position: relative;
                        margin-right: 40px;

                        span {
                            font-size: 20px;
                            position: absolute;
                            right: -8px;
                            top: 26px;
                        }
                    }
                }
            }

            .button-red {
                font-size: 20px;
                line-height: 35px;
                display: block;
                -webkit-border-radius: 6px;
                border-radius: 6px;
                margin: 0 25px 0;
            }
        }

        .bg-item {
            background-color: #c7c7c7;
            opacity: 0.85;
        }

        .container-expand {
            width: 100%;

            .header-expand {
                cursor: pointer;
                font-weight: 700;
                text-align: center;
                font-family: oswald, sans-serif;
                font-size: 26px;
                line-height: 28px;
                text-transform: uppercase;
                margin-top: 30px;
                margin-bottom: 30px;
            }

            .content {
                display: none;
                padding: 5px;
            }
        }

        .u-line {
            margin-top: 40px;
            margin-bottom: 40px;
            border-top: 2px solid silver;
            border-bottom: 2px solid silver;
        }
    }

    .vopros {
        color: #000;
        padding: 10px 0 10px;
        position: relative;
        height: 220px;

        .vopros-box {
            font-family: oswald, sans-serif;
            height: 240px;
            display: table-cell;
            vertical-align: middle;

            p {
                font-size: 40px;
                text-transform: uppercase;
                line-height: 45px;
                font-weight: 700;
            }

            ul {
                list-style: none;
                padding-left: 0;

                span {
                    color: #e31e24;
                    font-weight: 700;
                    font-size: 18px;
                }

                li {
                    position: relative;
                    text-transform: uppercase;
                    padding-left: 45px;
                    margin-bottom: 10px;

                    &:before {
                        content: '';
                        width: 25px;
                        height: 25px;
                        padding-bottom: 10px;
                        position: absolute;
                        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAQAAACROWYpAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QAAKqNIzIAAAAJcEhZcwAADdcAAA3XAUIom3gAAAAHdElNRQfjARUNJjd1GPjpAAABbElEQVQ4y8XUu0oDQRSA4X8XDBoVtEkRG0UhKBbaRjRYiIWFIIgW2lqIrY2XB/AFkkJSip1voJI8gFoGL8UmiOkERQRzORZx3dvs7mihs9WemY8zZ3b2wH8NA4Akm8zQHbmyzS1FLH94miqi9RwAMMw+k53MQ1yRokWZeyQicz91dmmR4YI0byxRggLCO3OaZY7z9LWLF7JQQzj6MRUEC5oIq7+gwg0IwrIGzfDooVVGdbGSerHJDof0xG7YYqQz4WCDPIJQpk8nqxsbHH9Pn5OMz+rGC54lNo+kDp7gI8BjqLvmFR8vx1Hvaft58JgSFJlV43Bun/ApwlYYVnPn49Td2AxciDPWaXgiNeZ5UF07UxHz8lCqxm4eQcGkBSQUfI1XKuR8NAE0nddqaDPoCkTGEIRFJ5DXbkMDXCI802sHDNJck6JNKaYBDpIjBWxTcIensDRbb4M9N7Sb/gZZ12+oGm3uOKGiUd4fjE9OGx7yRmifRwAAACV0RVh0ZGF0ZTpjcmVhdGUAMjAxOS0wMS0yMVQxMjozODo1NSswMTowMKymqG8AAAAldEVYdGRhdGU6bW9kaWZ5ADIwMTktMDEtMjFUMTI6Mzg6NTUrMDE6MDDd+xDTAAAAGXRFWHRTb2Z0d2FyZQB3d3cuaW5rc2NhcGUub3Jnm+48GgAAAABJRU5ErkJggg==);
                        background-size: cover;
                        background-position: center;
                        left: 0;
                        top: 50%;
                        -webkit-transform: translateY(-50%);
                        -ms-transform: translateY(-50%);
                        transform: translateY(-50%);
                    }
                }
            }

            .button-red {
                font-size: 20px;
                line-height: 35px;
                display: block;
                -webkit-border-radius: 6px;
                border-radius: 6px;
                margin: 0 20px 0;

                a {
                    font-size: 10px;
                    position: absolute;
                    padding: 0;
                }
            }

            button {
                display: inline;
                border: none;
                font-size: 30px;
                font-family: oswald, sans-serif;
                text-transform: uppercase;
                line-height: 1.2em;
                vertical-align: middle;
                text-align: center;
                text-decoration: none;
                text-shadow: 0 -1px 1px #777;
                color: #fff;
                outline: 0;
                padding: 10px 18px 10px 18px;
                -webkit-border-radius: 5px;
                border-radius: 5px;
                background-color: #e31e24;
                -webkit-transition: all .15s ease;
                -o-transition: all .15s ease;
                transition: all 0.15s ease;

                &:active {
                    top: .04em;
                    -webkit-box-shadow: 0 2px 0 #8a1115;
                    box-shadow: 0 2px 0 #8a1115;
                    -webkit-transform: translateY(2px);
                    -ms-transform: translateY(2px);
                    transform: translateY(2px);
                }
            }

            &.v2 a {
                color: red;
                font-weight: 700;
            }

            &.v3 {
                text-align: center;
            }
        }
    }

    .profit-farkop {
        height: 160px;
        text-align: center;

        button {
            position: relative;
            display: inline;
            border: none;
            font-size: 40px;
            font-family: oswald, sans-serif;
            text-transform: uppercase;
            line-height: 1.2em;
            vertical-align: middle;
            text-align: center;
            text-decoration: none;
            text-shadow: 0 -1px 1px #777;
            color: #fff;
            outline: 0;
            padding: 10px 18px 10px 18px;
            -webkit-border-radius: 5px;
            border-radius: 5px;
            background-color: #e31e24;
            -webkit-transition: all .15s ease;
            -o-transition: all .15s ease;
            transition: all 0.15s ease;

            &:active {
                top: .04em;
                -webkit-box-shadow: 0 2px 0 #8a1115;
                box-shadow: 0 2px 0 #8a1115;
                -webkit-transform: translateY(2px);
                -ms-transform: translateY(2px);
                transform: translateY(2px);
            }
        }
    }

    .garant-farkop {
        height: 460px;

        .garant {
            position: relative;
        }

        .garant-slogan {
            position: absolute;
            height: 100%;
            width: 100%;

            ul {
                list-style: none;
                padding-left: 0;
            }

            li {
                position: relative;
                padding-left: 45px;

                &:before {
                    content: '';
                    width: 25px;
                    height: 25px;
                    position: absolute;
                    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAQAAACROWYpAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QAAKqNIzIAAAAJcEhZcwAADdcAAA3XAUIom3gAAAAHdElNRQfjARUNJjd1GPjpAAABbElEQVQ4y8XUu0oDQRSA4X8XDBoVtEkRG0UhKBbaRjRYiIWFIIgW2lqIrY2XB/AFkkJSip1voJI8gFoGL8UmiOkERQRzORZx3dvs7mihs9WemY8zZ3b2wH8NA4Akm8zQHbmyzS1FLH94miqi9RwAMMw+k53MQ1yRokWZeyQicz91dmmR4YI0byxRggLCO3OaZY7z9LWLF7JQQzj6MRUEC5oIq7+gwg0IwrIGzfDooVVGdbGSerHJDof0xG7YYqQz4WCDPIJQpk8nqxsbHH9Pn5OMz+rGC54lNo+kDp7gI8BjqLvmFR8vx1Hvaft58JgSFJlV43Bun/ApwlYYVnPn49Td2AxciDPWaXgiNeZ5UF07UxHz8lCqxm4eQcGkBSQUfI1XKuR8NAE0nddqaDPoCkTGEIRFJ5DXbkMDXCI802sHDNJck6JNKaYBDpIjBWxTcIensDRbb4M9N7Sb/gZZ12+oGm3uOKGiUd4fjE9OGx7yRmifRwAAACV0RVh0ZGF0ZTpjcmVhdGUAMjAxOS0wMS0yMVQxMjozODo1NSswMTowMKymqG8AAAAldEVYdGRhdGU6bW9kaWZ5ADIwMTktMDEtMjFUMTI6Mzg6NTUrMDE6MDDd+xDTAAAAGXRFWHRTb2Z0d2FyZQB3d3cuaW5rc2NhcGUub3Jnm+48GgAAAABJRU5ErkJggg==);
                    background-size: cover;
                    background-position: center;
                    left: 0;
                    top: 50%;
                    -webkit-transform: translateY(-50%);
                    -ms-transform: translateY(-50%);
                    transform: translateY(-50%);
                }
            }
        }

        .garant-stamp {
            position: absolute;
            height: 100%;
            width: 100%;
            overflow: hidden;
            background: url(../img/stamp.png) no-repeat;
            background-size: 280px;
            opacity: .2;
            background-position: 70% bottom;
            background-origin: padding-box;
            background-clip: content-box;
            padding: 5px;
        }

        .bonus-line {
            font-size: 25px;
            text-transform: uppercase;
            font-family: oswald, sans-serif;
            line-height: 28px;
            padding-bottom: 4px;

            span {
                display: inline-block;
                font-size: 18px;
                line-height: 20px;
                padding-bottom: 18px;
                padding-top: 8px;
                color: #6a6a6a;
            }

            li {
                position: relative;
                padding-left: 45px;
            }
        }

        button {
            position: relative;
            display: inline;
            border: none;
            font-size: 40px;
            font-family: oswald, sans-serif;
            text-transform: uppercase;
            line-height: 1.2em;
            vertical-align: middle;
            text-align: center;
            text-decoration: none;
            text-shadow: 0 -1px 1px #777;
            color: #fff;
            outline: 0;
            padding: 10px 18px 10px 18px;
            -webkit-border-radius: 5px;
            border-radius: 5px;
            background-color: #e31e24;
            -webkit-transition: all .15s ease;
            -o-transition: all .15s ease;
            transition: all 0.15s ease;

            &:active {
                top: .04em;
                -webkit-box-shadow: 0 2px 0 #8a1115;
                box-shadow: 0 2px 0 #8a1115;
                -webkit-transform: translateY(2px);
                -ms-transform: translateY(2px);
                transform: translateY(2px);
            }
        }
    }

    .choice {
        min-height: 580px;
        background: url(../assets/service/farkop/choice-bg.jpg) left no-repeat;
        background-color: #fff;
        background-size: cover;
        overflow: hidden;
        -webkit-box-shadow: 4px 4px 4px -1px rgba(0, 0, 0, 0.2);
        box-shadow: 4px 4px 4px -1px rgba(0, 0, 0, 0.2);

        .choice-box {
            width: 100%;
            height: 100%;

            span {
                color: #e31e24;
            }
        }

        .choice-list {
            font-size: 25px;
            text-transform: uppercase;
            font-family: oswald, sans-serif;
            line-height: 28px;
            padding-bottom: 4px;

            span {
                display: block;
                font-size: 18px;
                line-height: 20px;
                padding-bottom: 18px;
                padding-top: 8px;
                color: #6a6a6a;
            }
        }

        ol {
            font-size: 30px;

            li {
                line-height: 20px;
                margin: 0 0 8px 0;
            }
        }
    }

    .dovodchiki-one {
        padding: 0;
        height: 580px;
        background: url(../assets/service/dovodchiki/dovodchiki-bg.jpg) no-repeat;
        background-color: #000;
        background-size: cover;
        overflow: hidden;
        position: relative;

        .bg-pattern {
            position: absolute;
            height: 100%;
            width: 100%;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-flex-wrap: nowrap;
            -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
            background-color: rgba(74, 61, 45, 0.55);
            background-image: url(../img/pattern4x4.png);
        }

        h2 {
            color: #fff;
        }

        .dovodchiki-bg-text {
            font-family: oswald, sans-serif;
            position: absolute;
            display: block;
            margin: auto;
            height: 80%;
            top: 10%;
            bottom: 10%;
            left: 0;
            right: 0;
            width: 100%;
            font-size: 52px;
            font-weight: bolder;
            line-height: 62px;
            text-transform: uppercase;
            z-index: 3;
            background: rgba(0, 0, 0, 0.6);

            span {
                color: #e31e24;
            }

            p {
                padding-bottom: 8px;
                color: #fff;

                a:focus {
                    outline: 0;
                    outline-style: none;
                }
            }

            .warning {
                margin-top: 20px;
                font-size: 20px;
                line-height: 25px;
                border-top: 2px solid #95cd8b;
                border-bottom: 2px solid #95cd8b;
                padding: 5px;
            }
        }
    }

    .profit {
        margin-top: 0;
        margin-bottom: 0;
    }

    .profit-card {
        min-height: 230px;
    }

    .profit {
        h2 {
            line-height: 36px;
        }

        .card {
            margin-bottom: 30px;
            border: none;

            .card-text {
                color: #000;
                font-size: 26px;
                text-transform: uppercase;
                line-height: .5rem;
                min-height: 100px;
            }
        }

        .card-top-head {
            height: 78px;
            width: 100%;
            display: table;

            .card-block {
                display: table-cell;
                vertical-align: middle;
            }
        }
    }

    .profit-head {
        font-family: oswald, sans-serif;
        font-size: 20px;
        line-height: 20px;
        color: #000;
        height: 60px;
    }

    .profit {
        img {
            height: 80px;
            width: 80px;
        }

        span {
            color: #e31e24;
        }

        .profitBox {
            background: #fff;
            color: #000;
            text-align: center;
            padding: 10px 0 10px;
            position: relative;
            min-height: 270px;

            &:hover {
                background: #ebf0f5;
                -webkit-transition: all .2s linear 0s;
                -o-transition: all .2s linear 0s;
                transition: all .2s linear 0s;
                -webkit-border-radius: .5rem;
                border-radius: 0.5rem;
            }

            .profit-icon {
                width: 100px;
                height: 100px;
                margin: 0 auto;
                -webkit-transition: all .5s ease-in-out;
                -o-transition: all .5s ease-in-out;
                transition: all 0.5s ease-in-out;
            }

            .profit-content {
                h4 {
                    font-family: oswald, sans-serif;
                    font-size: 20px;
                    line-height: 20px;
                    color: #000;
                    height: 40px;
                    text-transform: uppercase;

                    a {
                        font-size: 22px;
                        color: #333;
                    }
                }

                p {
                    font-size: 16px;
                }
            }

            &:hover {

                h4 a,
                p {
                    color: #000;
                }
            }
        }
    }

    .principle p,
    .recommendations p {
        font-size: 19px;
    }

    .zakaz {
        margin-top: -45px;
        font-size: 20px;
        text-transform: uppercase;
        min-height: 400px;

        .zz-bg {
            text-align: center;
            background-image: url(/assets/service/predpuskovoj-podogrevatel-dvigatelya/car.jpg);
            background-position: center center;
            background-size: auto 60%;
            background-repeat: no-repeat;
        }

        .ui-item {
            width: 285px;
            padding-bottom: 30px;
            margin: 40px auto;
            -webkit-border-radius: 30px;
            border-radius: 30px;
            position: relative;
            text-align: center;
            padding-top: 65px;
            -webkit-box-shadow: 4px 4px 0 1px rgba(0, 0, 0, 0.08);
            box-shadow: 4px 4px 0 1px rgba(0, 0, 0, 0.08);
            -webkit-transition: all .5s ease;
            -o-transition: all .5s ease;
            transition: all 0.5s ease;

            &:hover {
                -webkit-border-radius: 15px;
                border-radius: 15px;
            }

            img {
                width: 100px;
                margin: 0 auto;
                position: absolute;
                top: -40px;
                left: 50%;
                margin-left: -50px;
            }

            p {
                line-height: 20px;
                font-size: 18px;
                font-family: oswald, sans-serif;
                color: #000;

                span {
                    text-decoration: line-through;
                    color: #e31e24;
                }
            }

            .button-red {
                font-size: 20px;
                display: block;
                -webkit-border-radius: 6px;
                border-radius: 6px;
                margin: 0 20px 0;
            }

            .ui-item-head {
                font-size: 28px;
                font-family: oswald, sans-serif;
                margin-bottom: 20px;
            }
        }

        .bg-item {
            background-color: #e4e0e1;
            opacity: 0.85;
        }
    }

    .bonus .bonus-line {
        display: inline-block;
        font-size: 25px;
        line-height: 40px;
        font-family: oswald, sans-serif;
        text-transform: uppercase;
        padding-bottom: 7.5px;
    }

    .garant {
        position: relative;
        min-height: 220px;
    }

    .garant-slogan {
        position: absolute;
        height: 100%;
        width: 100%;

        ul {
            list-style: none;
            padding-left: 0;
        }

        li {
            position: relative;
            padding-left: 45px;

            &:before {
                content: '';
                width: 25px;
                height: 25px;
                position: absolute;
                background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAQAAACROWYpAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QAAKqNIzIAAAAJcEhZcwAADdcAAA3XAUIom3gAAAAHdElNRQfjARUNJjd1GPjpAAABbElEQVQ4y8XUu0oDQRSA4X8XDBoVtEkRG0UhKBbaRjRYiIWFIIgW2lqIrY2XB/AFkkJSip1voJI8gFoGL8UmiOkERQRzORZx3dvs7mihs9WemY8zZ3b2wH8NA4Akm8zQHbmyzS1FLH94miqi9RwAMMw+k53MQ1yRokWZeyQicz91dmmR4YI0byxRggLCO3OaZY7z9LWLF7JQQzj6MRUEC5oIq7+gwg0IwrIGzfDooVVGdbGSerHJDof0xG7YYqQz4WCDPIJQpk8nqxsbHH9Pn5OMz+rGC54lNo+kDp7gI8BjqLvmFR8vx1Hvaft58JgSFJlV43Bun/ApwlYYVnPn49Td2AxciDPWaXgiNeZ5UF07UxHz8lCqxm4eQcGkBSQUfI1XKuR8NAE0nddqaDPoCkTGEIRFJ5DXbkMDXCI802sHDNJck6JNKaYBDpIjBWxTcIensDRbb4M9N7Sb/gZZ12+oGm3uOKGiUd4fjE9OGx7yRmifRwAAACV0RVh0ZGF0ZTpjcmVhdGUAMjAxOS0wMS0yMVQxMjozODo1NSswMTowMKymqG8AAAAldEVYdGRhdGU6bW9kaWZ5ADIwMTktMDEtMjFUMTI6Mzg6NTUrMDE6MDDd+xDTAAAAGXRFWHRTb2Z0d2FyZQB3d3cuaW5rc2NhcGUub3Jnm+48GgAAAABJRU5ErkJggg==);
                background-size: cover;
                background-position: center;
                left: 0;
                top: 50%;
                -webkit-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
                transform: translateY(-50%);
            }
        }
    }

    .garant-stamp {
        position: absolute;
        height: 100%;
        width: 100%;
        overflow: hidden;
        background: url(../img/stamp.png) no-repeat;
        background-size: 280px;
        opacity: .2;
        background-position: 70% bottom;
        background-origin: padding-box;
        background-clip: content-box;
        padding: 5px;
    }

    .kontakty-img {
        width: 100%;
        height: 100%;
    }

    .kontakty-address,
    .kontakty-mail,
    .kontakty-phone,
    .kontakty-time {
        display: inline-block;
    }

    .kontakty-address i,
    .kontakty-mail i,
    .kontakty-phone i,
    .kontakty-time i {
        display: table-cell;
        padding-right: 10px;
    }

    .kontakty-address p,
    .kontakty-mail p,
    .kontakty-phone p,
    .kontakty-time p {
        padding-left: 20px;
    }

    .wpac-cr {
        color: rgba(222, 222, 222, 0.5) !important;
    }

    .wp-rightrow.wp-logo {
        color: rgba(222, 222, 222, 0.5) !important;

        a {
            color: rgba(222, 222, 222, 0.5) !important;
        }
    }

    .call-price {
        height: 110px;
        margin-bottom: 30px;

        .vbg-text {
            position: absolute;
            display: block;
            top: 10%;
            left: 0;
            right: 0;
            width: 100%;
        }
    }

    .button-red {
        font-weight: 700;
        white-space: nowrap;
    }

    .slogan {
        margin-top: 30px;
        font-size: 36px;
        font-family: oswald, sans-serif;
        text-transform: uppercase;
        line-height: 45px;
        vertical-align: middle;
        text-align: center;
        text-decoration: none;
        color: #e31e24;

        span {
            white-space: nowrap;
        }

        b {
            color: #000;
        }
    }

    .logo-p {
        text-align: center;
        padding: 30px;

        img {
            height: 72px;
            width: auto;
        }
    }
}
