.one {
    height: 820px;
    padding: 0 0;

    .w-background-video {
        position: relative;
        overflow: hidden;
        height: 820px;
        color: #fff;

        >video {
            background-size: cover;
            background-position: 50% 50%;
            position: absolute;
            right: -100%;
            bottom: -100%;
            top: -100%;
            left: -100%;
            margin: auto;
            min-width: 100%;
            min-height: 100%;
            z-index: -1;
        }

        .next {
            position: absolute;
            color: #fff;
            z-index: 2;
            bottom: 9%;
            left: 50%;
            margin-left: -25px;
            right: 50%;
            margin-top: 40px;
            padding-bottom: 0;
            margin-bottom: 0;
            font-size: 52px;
            line-height: 20px;
            display: block;
            -webkit-animation-delay: 2s;
            animation-delay: 2s;
            -webkit-animation-duration: 2s;
            animation-duration: 2s;

            .animated {
                -webkit-animation-duration: 2s;
                animation-duration: 2s;
            }

            a {
                color: #fff;

                &:focus {
                    outline: 0;
                }
            }
        }
    }

    .background-video {
        display: block;
        height: 820px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        background-color: rgba(74, 61, 45, 0.42);
        background-image: url(../img/pattern4x4.png);
        background-repeat: repeat;
    }

    p {
        -vendor-animation-duration: 30s;
        -vendor-animation-delay: 20s;
        -vendor-animation-iteration-count: infinite;
    }

    .vbg-text {
        position: absolute;
        display: block;
        top: 10%;
        left: 0;
        right: 0;
        width: 100%;
        font-size: 64px;
        font-weight: bolder;
        line-height: 75px;
        text-transform: uppercase;
        z-index: 3;
        background: rgba(0, 0, 0, 0.5);
        padding-top: 10px;
        padding-bottom: 10px;

        span {
            color: #e31e24;
        }

        p {
            padding-bottom: 8px;
            color: #fff;

            a:focus {
                outline: 0;
                outline-style: none;
            }
        }
    }
}
