//$default-font: "roboto-example", sans-serif
// $default-font: "bebas-neue", sans-serif
$default-font: "oswald", sans-serif
$content-font: Tahoma, sans-serif

$accent: #e31e24
$accent-dark: #bc2322
$red: #e31e24
$btn: $red

$bg-vh: 820px

$text: #fff
$text-bw: #000
$main-color: #000

$bg-item-zakaz: #e4e0e1
$bg-item-zakaz-farkop: #bdbdbd

// Customization Bootstrap vars from "app/libs/bootstrap/scss/_variables.scss"
$grid-gutter-width: 30px
$grid-columns: 12
$grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px)
$container-max-widths: (sm: 540px, md: 720px, lg: 960px, xl: 1140px)

$gutter: $grid-gutter-width

$enable-flex: true
// alias gutter (отступ между элементами bootstrap)
$gutter: $grid-gutter-width
